/**
 * Boilerplate ad styles.
 */

.advert {
	text-align: center; /* Oldschool centering technique. */
	position: relative; /* Just in case ad decides to `position: absolute;` without a `position: relative;` parent. */
	margin: .75em auto; /* Putting `auto` here to assist `.advert`s that have a width. */
}
	.advert * {
		/* http://meyerweb.com/eric/tools/css/reset/ */
		font-size: 100%;
		font: inherit;
		border: 0;
		margin: 0 auto; /* Centers. */
		padding: 0;
		outline: 0;
	}
	.advert img {
		/* Responsive images: */
		width: auto;
		height: auto;
		max-width: 100%;
		max-height: 100%;
		-ms-interpolation-mode: bicubic;
	}
	.advert iframe { display: block; }

/*--------------------------------------------------------------------*/

/**
 * Special ad handling.
 *
 * Figure out how to handle this CSS when a Billboard isn't shown
 * Change "Billboard" to "Pushdown"
 */

.mobile_banner {
	width: 300px; /* Width of smallest sized viewport (that we care about). */
	height: 50px; /* Account for height of `position: absolute;` child `div`. */
	/* Both `position: relative;` and `margin: 0 auto;` set on `.advert` class. */
}
	.mobile_banner #mobile_banner-top,
	.mobile_banner #mobile_banner-bottom,
	.mobile_banner #mobile_banner-no-ros {
		width: 320px; /* Actual ad width. */
		height: 50px;
		position: absolute;
		left: -10px; /* Centers the `320px`-width ad within `300px` container. */
	}
	@media only screen and (min-width: 665px) {
		.mobile_banner_2x { height: 100px; }
			.mobile_banner_2x #mobile_banner-top {
				width: 640px;
				height: 100px;
				left: -170px; /* Centers the `640px`-width ad within `300px` container. */
			}
	}

.button_1 {
	/* Width and height of ad: */
	width: 120px;
	height: 60px;
	/* Override `.advert` margin: */
	margin: 0;
	/* Position to the left of `position: relative;` parent container: */
	position: absolute;
	top: 25px;
	left: -170px;
}